<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="A piece of paper in the cloud." />
    <link rel="shortcut icon" type="image/gif" href="/images/favicon.gif" />
    <title>cp2cc notepad</title>
    <link rel="shortcut icon" href="/static/assets/ico/favicon.ico">
    <meta name="description" content="A service by Jacob Bijani." />
    <link rel="stylesheet" href="/static/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" charset="utf-8" />
        
        <script src="/static/js/prototype.js" type="text/javascript"></script>
        <!--<script type="text/javascript" charset="utf-8" src='/static/js/jquery-1.6.2.min.js'></script> -->
        <script src="/static/js/t.js" type="text/javascript"></script>
<!--    <script type="text/javascript" charset="utf-8">
        var assets_version = 3;
        var is_iphone_os = false;
        
        var pad_name = 'borooko45';
        
        var disable_autosave = false;
        var read_only_mode   = false;
        
        var caret_position  = 14;
        var scroll_position = 0;
    </script>
-->
    <script type="text/javascript" src="/static/js/application.js"></script>
        
    <!-- e:y -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
        <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body id="body">
    <script type="text/javascript" src="/static/js/t2.js"></script>
<!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1465536-18']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
-->
    
    <div id="promo">
                                
<!--            <a href="http://www.tumblr.com/" target="_blank" rel="nofollow" onclick="_gaq.push(['Promo', 'Tumblr', 'From: borooko45']);">
                <strong>Tumblr</strong>:&nbsp;&nbsp;The easiest way to blog&nbsp;&rarr;
            </a>
-->
            </div>
    
    <div class="stack ">
    <div class="layer_1">
        <div class="layer_2">
            <div class="layer_3">
            {% if url_list %}
                <p style="font-family:黑体"><font color="#33CC00">你的已有笔记</font></p>
                {% for line in url_list %}
                    <p><a href={{ line }} >{{ line }}</a> </p>
                {% end %}
            {% else %}
                <p style="font-family:黑体"><font color="#33CC00">没有记录</font></p>
            {% end %}
            {% if not login %}
                  <ul class="nav">  <p><font color="red">没有找到你的历史笔记,没有<a href='/account/login'>登陆</a>?</font></p> </ul>
            {% end %}
            </div>
        </div>
    </div>
</div>

    <div id="printable_contents" class="contents "></div>
    
    <div id="unsaved" style="display:none;"></div>
    <div id="loading" style="display:none;"></div>
    
    <div id="controls">
<!--                                                    
                <a href="http://notepad.cc/borooko45">http://notepad.cc/borooko45</a>
                
                <span class="bubble_wrapper" onclick="just_clicked_bubble = 'change_url';">
                    <a href="#" onclick="return false;">change url</a>
                    
                    <div class="bubble" id="bubble_for_change_url" style="display:none;">
                        <div class="highlight"></div>
                        
                        <div class="message" id="message_for_change_url_unavailable" style="display:none;">
                            URL is unavailable.
                        </div>
                        
                        <form action="/options/rename/borooko45" method="post" id="form_for_set_name" onsubmit="validate_name_exists(); return false;">
                            <input type="text" class="text_input" name="new_name" id="change_url_input" value="borooko45" />
                            <input type="submit" class="button" value="save" />
                        </form>
                        
                        <div class="nipple"></div>
                    </div>
                </span>
                
                                    <span class="bubble_wrapper" onclick="just_clicked_bubble = 'set_password';">
                        <a href="#" onclick="just_clicked_bubble = 'set_password'; return false;">add password</a>
                        
                        <div class="bubble" id="bubble_for_set_password" style="display:none;">
                            <div class="highlight"></div>
                            
                            <form action="/options/password/set/borooko45" method="post">
                                <input type="password" class="text_input" name="password" id="set_password_input" value="" />
                                <input type="submit" class="button" value="save" />
                            </form>
                            
                            <div class="nipple"></div>
                        </div>
                    </span>
-->                                
                        </div>    


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
             <ul class="nav">
                <li> <a href="/">new</a></p></li>
                {% if login %}
                   <li> <a href="/account/logout">logout</a> </li>
                {% end %}
                {% if not login %}
                  <li> <a href="/account/login">login</a></p> </li>
                {% end %}
                <li><a href="https://github.com/liutaihua/cp2cc#%E5%AE%89%E8%A3%85">help</a></li>
                <li><a href="https://github.com/liutaihua/cp2cc#%E5%AE%89%E8%A3%85">about</a></li>
             </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</body>
</html>
