{% extends "../backup_base.html" %}

{% block head %}
<title="规则脚本配置">
  <link rel="stylesheet" type="text/css" media="screen,print" href="/static/css/style_1.css" />
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>

<script>

$(document).ready(function(){
   $('#pretty_code').show();
   $('#edit_code').hide();
});


function edit()
{
$('#pretty_code').hide();
$('#edit_code').show();
}
</script>
{% end %}
{% block body %}<h1>地图配置</h1>

<!--form action="/rule_script/new" method="POST">
<select name="map_type">
   <option value="mining">采矿类</option>
   <option value="monster">杀怪类</option>
<input type="text" name="map_name"></input>
<input type="submit" value="新建"></input>
</form-->
<p></p>

<form action='/rule_script/' method="GET">
<select name='script'>
	{% for s in script_list %}
		<option value={{ s }}> {{ s.split('/')[-1] }} </option>
	{% end %}
</select>
<input type="submit" value="载入"></input>
</form>

<div id="pretty_code">
<p></p>
{% raw file_content_pretty %}
<p><input type="button" value="编辑" onclick="edit()"></input></p>
</div>
<div id="edit_code">

<form action="/rule_script/save" method="POST">
  <input type="hidden" id="rule_name" name="rule_name" value="{{ script }}"></input>
  <textarea name="file_content" value="" cols="130" rows="30">{{ file_content }}</textarea>
  <input type="submit" value="保存"></input>
</form>
</div>

{% if script %}
<!--form action="/map_script/delete" method="POST">
  <input type="hidden" id="script_name" name="script" value="{{ script }}"></input>
  <input type="submit" value="删除此脚本"></input>
</form-->
{% end %}


<address></address>
<!-- hhmts start -->Last modified: Fri Jul 15 11:37:52 CST 2011 <!-- hhmts end -->

{% end %}
