{% extends "../base.html" %}

{% block head %}
<title="装备随机属性配置">
{% end %}

{% block body %}<h1>装备随机属性配置</h1>

<form  enctype="multipart/form-data" action="/tools/equipment_random_attr" method="post" accept-charset="utf-8">
    {% raw xsrf_form_html() %}
    <p>上传equipment_random_attr: <input type="file" name="xls">
    <input type="submit" value="upload &rarr;"></p>
</form>


{% raw output %}
<p><a href='/onlinemodify/equipment_random_attr'>在线编辑</a></p>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul 15 11:37:52 CST 2011 <!-- hhmts end -->

{% end %}
