{% extends "../base.html" %}

{% block head %}
<title="配置工具">
{% end %}

{% block body %}
<h1>配置工具</h1>
<p></p>
<p> ---- xml ---- </p>
<p><a href='/tools_xml/map'>map xml配置</a></p>

<p> ---- 一般数据表 ---- </p>
<p><a href='/tools/charm'>坐骑配置</a></p>
<p><a href='/tools/formula'>公式配置</a></p>
<p><a href='/tools/consume'>消耗品配置</a></p>
<p><a href='/tools/material'>材料配置</a></p>
<p><a href='/tools/monster'>怪物配置</a></p>
<p><a href='/tools/alchemy'>炼金配置</a></p>
<p><a href='/tools/charm'>符文配置</a></p>
<p><a href='/tools/level'>个人属性配置</a></p>
<p><a href='/tools/equipment'>装备配置</a></p>
<p><a href='/tools/equipment_random_attr'>装备随机属性配置</a></p>

<p> ---- 技能类 ---- </p>
<p><a href='/tools_xml/passive_skill'>被动技能配置</a></p>
<p><a href='/tools/skill'>技能配置</a></p>

<p> ---- 不常用的 ---- </p>
<p><a href='/tools/language'>语言配置</a></p>
<p><a href='/tools/task'>任务配置</a></p>
<p><a href='/tools_xml/map'>地图xml上传</a></p>
<p><a href='/tools/combine'>配方配置</a></p>
<p><a href='/tools/package'>礼包配置</a></p>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul 15 10:35:31 CST 2011 <!-- hhmts end -->

{% end %}
