{% extends "../base.html" %}

{% block head %}

{% end %}

{% block body %}
<h1>在线配置工具</h1>

<p><a href='/onlinemodify/task'>任务配置</a></p>
<p><a href='/onlinemodify/item'>道具配置</a></p>
<p><a href='/onlinemodify/monster'>怪物配置</a></p>
<p><a href='/onlinemodify/level'>个人属性配置</a></p>
<p><a href='/onlinemodify/equipment'>装备配置</a></p>
<p><a href='/onlinemodify/skill'>技能配置</a></p>
<p><a href='/onlinemodify/combine'>配方配置</a></p>
<p><a href='/onlinemodify/material'>材料配置</a></p>
<p><a href='/onlinemodify/charm'>符文配置</a></p>
<p><a href='/onlinemodify/package'>礼包配置</a></p>
<p><a href='/onlinemodify/passive_skill'>被动技能配置</a></p>
<p><a href='/onlinemodify/equipment_random_attr'>装备随机属性配置</a></p>
<p><a href='/onlinemodify/formula'>公式配置</a></p>
<p><a href='/onlinemodify/alchemy'>炼金配置</a></p>
<p><a href='/onlinemodify/mounts'>坐骑配置</a></p>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul 15 10:35:31 CST 2011 <!-- hhmts end -->

{% end %}
