{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
</script>
{% end %}

{% block body %}
<p><img src="/static/images/menu001.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu002.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu003.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu004.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu005.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu006.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu007.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu008.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu009.jpg" alt="点饭" border="0" /></p>
<p><img src="/static/images/menu010.jpg" alt="点饭" border="0" /></p>

{% end %}
